<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a href="">mslearn.link</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ai">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> AI
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cloudnative">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Cloud native
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grid?Product=">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Grid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-link-45deg-nav-menu" aria-hidden="true"></span> About
            </NavLink>
            
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/pdebruin/mslearn.link" target="_blank">
                <span class="bi bi-github-nav-menu" aria-hidden="true"></span> GitHub
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
