@page "/about"

<h1>About</h1>

<p>This is a simple website to collect various entry points to <u><a href="https://learn.microsoft.com/" target="_blank">Microsoft Learn</a></u>. This is not an official Microsoft website; it is just an experiment by an enthousiastic techie :-)</p>
<p>
    Did you know you can <u><a href="https://learn.microsoft.com/contribute/" target="_blank">contribute to Microsoft Learn</a></u>? For instance, you can share a link to Learn with your team, you can answer a question on Q&A, and you can help improve Learn content. 
</p>
<p>
    This site is not owned or endorsed by Microsoft. It is a hobby project to experiment with organizing and structuring websites at scale.
    It is built using <u><a href="https://learn.microsoft.com/aspnet/core/blazor" target="_blank">Blazor</a></u> and runs on <u><a href="https://learn.microsoft.com/azure/static-web-apps/overview" target="_blank">Azure static web apps</a></u>. Source code is available on <u><a href="https://github.com/pdebruin/mslearn.link" target="_blank">GitHub</a></u>. Feel free to contribute by submitting a pull request, or by creating an issue.
</p>
<p>
    Related initiatives collecting Microsoft links: 
    <u><a href="https://cmd.ms/" target="_blank">cmd.ms</a></u>
    and
    <u><a href="https://msportals.io/" target="_blank">msportals.io</a></u>
</p>