@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<p>This is a simple website to collect various entry points to <a href="https://learn.microsoft.com/" target="_blank">Microsoft Learn</a>.</p>
<p>
    Did you know you can <a href="https://learn.microsoft.com/contribute/" target="_blank">contribute to Microsoft Learn</a>? For instance, you can share a link to Learn with your team, you can answer a question on Q&A, and you can help improve Learn content. 
</p>
<p>
    This site is not owned or endorsed by Microsoft. It is a hobby project to experiment with organizing and structuring websites at scale.
    It is built using <a href="https://learn.microsoft.com/aspnet/core/blazor" target="_blank">Blazor</a> and runs on <a href="https://learn.microsoft.com/azure/static-web-apps/overview" target="_blank">Azure static web apps</a>. Source code is available on <a href="https://github.com/pdebruin/mslearn.link" target="_blank">GitHub</a>. Feel free to contribute by submitting a pull request, or by creating an issue.
</p>
<p>
    Related initiatives collecting Microsoft links: 
    <a href="https://cmd.ms/" target="_blank">cmd.ms</a>
    and
    <a href="https://msportals.io/" target="_blank">msportals.io</a>
</p>