@page "/"
@inject HttpClient Http

<PageTitle>Links</PageTitle>

<h1>Link</h1>

<p>What link are you looking for?</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div >
        <input @bind-value="SearchText" @bind-value:event="oninput" placeholder="Search" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>URL</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in filteredforecasts)
            {
                <tr>
                    <td>@forecast.Title</td>
                    <td><a href="@forecast.Url" target="_blank">@forecast.Url</a></td>
                    <td>@forecast.Type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    public string SearchText = "";

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    WeatherForecast[]? filteredforecasts => forecasts?.Where(
        f => f.Title?.Contains(SearchText, StringComparison.OrdinalIgnoreCase) ?? false).ToArray();

    public class WeatherForecast
    {
        public string? Type { get; set; }
        public string? Title { get; set; }

        public string? Url { get; set; }
    }
}
