@page "/python"
@inject HttpClient Http
<!-- @using Microsoft.AspNetCore.Components.QuickGrid -->
@using BlazorApplicationInsights
@using BlazorApplicationInsights.Interfaces
@using BlazorApplicationInsights.Models

<h1>Find your Python link</h1>

<p>What link are you looking for?</p>

@if (links == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div >
        <input @bind-value="SearchText" @bind-value:event="oninput" placeholder="Search" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in filteredlinks)
            {
                <tr>
                    <td><img height="30" width="30" src="@link.Image" /> <a href="@link.Url" target="_blank">@link.Title</a></td>
                    <td>@link.Type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject] private IApplicationInsights AppInsights { get; set; }
    private Link[]? links;

    public string SearchText = "";
    public string category = "Python";

    protected override async Task OnInitializedAsync()
    {
        links = await Http.GetFromJsonAsync<Link[]>("data/links.json");
        await AppInsights.TrackEvent(new EventTelemetry() { Name = "Python initialized" });
    }
    Link[]? filteredlinks => links?.Where(
        f => f.Title.Contains(SearchText, StringComparison.OrdinalIgnoreCase) && f.Category.Contains(category, StringComparison.OrdinalIgnoreCase)).ToArray();

}
